.main-container-bg {
  background-image: url(../img/mainbanner.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 419px;
  width: 100%;
  background-position: center;
  display: block;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 419px;
  width: auto;
}

.main-container h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 6rem;
  text-shadow: 4px 1px 1px black;
}

.main-container p {
  color: #fff;
  font-size: 2rem;
  text-shadow: 2px 1px 1px black;
}